<div class="project">
  <div class="project__header">
    <div>
      <h3>
        {% if this.url|string|length > 0 %}
        <a href="{{ this.url }}">{{ this.title }}</a>
        {% else %}
        {{ this.title }}
        {% endif %}
      </h3>
      {{ this.year }}
    </div>
    {% if this.image|length > 0 %}
    {% if this.url|string|length > 0 %}
    <a href="{{ this.url }}">
      <img class="project__image" src="{{ this.image }}">
    </a>
    {% else %}
    <img class="project__image" src="{{ this.image }}">
    {% endif %}
    {% endif %}
  </div>
  <div class="project__body">
    {{ this.body }}

    {% if this.technology|string|length > 0 %}
    <p>{{ this.technology }}</p>
    {% endif %}

    {% if this.source|string|length > 0 %}
    <a href="{{ this.source }}">Source</a>
    {% endif %}
  </div>
</div>