{% extends "layout.html" %}
{% block title %}alligator's blog{% endblock %}
{% block header %}
<h1>
  <a href="{{ '/blog'|url }}">alligator's blog</a>
</h1>
{% endblock %}
{% block body %}
  {% for post in this.children if post.date %}
  <div class="blog-index__post">
    <time datetime="{{ post.date|dateformat('YYYY-MM-dd') }}">
      {{ post.date|dateformat('YYYY-MM-dd') }}
    </time>
    <a href="{{ post|url }}">
      {{ post.title }}
    </a>
  </div>
  {% endfor %}

  {# <h2>microblog</h2> #}
  {# {{ this.microblog }} #}

  <p><a href="atom.xml">feed</a></p>

  <p>
    <a href="{{ '/'|url }}">who?</a>
  </p>
{% endblock %}
