<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}alligatr{% endblock %}</title>
</head>
<body>
  <header>
    {% block header %}
    <h1>
      <a href="{{ '/'|url }}">alligatr</a>
    </h1>
    {% endblock %}
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <script data-goatcounter="https://alligator.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
