<!doctype html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>alligatr</title>
</head>
<body>
  <header>
    <h1>alligatr</h1>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <p>
      &copy; 2019 Reece Selwood.
      <br />
      This site was made using <a href="https://www.getlektor.com/">Lektor</a>. It's good.
    </p>
  </footer>
</body>
