{% extends "layout.html" %}
{% block body %}
  {% if this.title %}
  <h1>{{ this.title }}</h1>
  {% endif %}
  {{ this.body }}
  <h2>Projects</h2>
  {{ this.projects }}
  <section>
    <h3>Fun things</h3>

    {% for exp in site.query('/e')
      .include_hidden(true)
      .order_by('') %}
      <div class="project-row project-row__c2">
        <h4>
          {%if exp.url %}
          <a href="{{exp.url}}">{{exp.name}}</a>
          {% else %}
          <a href="{{exp|url}}">{{exp.name}}</a>
          {% endif %}
        </h4>
        <div>{{exp.description}}</div>
      </div>
    {% endfor %}

  </section>

  <section>
    <h3>Others</h3>
    {% for o in this.other.blocks %}
      <div class="project-row project-row__c3">
        <h4><a href="{{o.url}}">{{ o.title }}</a></h4>
        <div class="mobile-hide">{{ o.technology }}</div>
        <div>{{ o.body }}</div>
      </div>
    {% endfor %}
  </section>

  <h2>Games</h2>
  {{ this.games }}
{% endblock %}
