{% extends "layout.html" %}
{% block body %}
  {% if this.title %}
  <h1>{{ this.title }}</h1>
  {% endif %}
  {{ this.body }}
  <h2>Projects</h2>
  {{ this.projects }}
  <div class="project">
    Fun things

    <table style="width: 100%">
      <tbody>
        {% for exp in site.query('/e')
          .include_hidden(true)
          .order_by('') %}
        <tr>
          <td style="width: 33%">
            {%if exp.url %}
            <a href="{{exp.url}}">{{exp.name}}</a>
            {% else %}
            <a href="{{exp|url}}">{{exp.name}}</a>
            {% endif %}
          </td>
          <!-- <td>{{exp.technology}}</td> -->
          <td>{{exp.description}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  <div class="project">
    Others

    <table style="width: 100%">
      <thead>
        <tr>
          <th>name</th>
          <th>tech</th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://github.com/Alligator/accent.vim">accent.vim</a>
          </td>
          <td>vimscript</td>
          <td>my vim colourscheme</td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/Alligator/gordle">gordle</a>
          </td>
          <td>go</td>
          <td>terminal wordle</td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/Alligator/focus">focus</a>
          </td>
          <td>swift</td>
          <td>a mac app to help me focus</td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/Alligator/jtermbox">jtermbox</a>
          </td>
          <td>C, janet</td>
          <td>termbox bindings for janet</td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/Alligator/nimi-pi-toki-pona">nimi pi toki pona</a>
          </td>
          <td>C</td>
          <td>toki pona to english dictionary</td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/Alligator/qj">qj</a>
          </td>
          <td>go</td>
          <td>query JIRA from the terminal</td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/Alligator/rss">rss</a>
          </td>
          <td>python</td>
          <td>generate static HTML from RSS feeds</td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/Alligator/slider">slider</a>
          </td>
          <td>C</td>
          <td>a tiny tool for creating slideshows</td>
        </tr>
        <tr>
          <td>
            <a href="static/canvas-things.html">old alligatr.co.uk</a>
          </td>
          <td>web</td>
          <td>even older web experiments</td>
        </tr>
        <tr>
          <td>
            <a href="http://pizza.alligatr.co.uk">pizza.alligator.co.uk</a>
          </td>
          <td>web</td>
          <td>old web experiments</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2>Games</h2>
  {{ this.games }}
{% endblock %}
