{% extends "layout.html" %}
{% block body %}
  {% if this.title %}
  <h1>{{ this.title }}</h1>
  {% endif %}
  {{ this.body }}
  <h2>Projects</h2>
  {{ this.projects }}
  <section>
    <h3>Fun things</h3>

    <table style="width: 100%">
      <tbody>
      {% for exp in site.query('/e')
        .include_hidden(true)
        .order_by('') %}
        <tr>
          <td>
            {%if exp.url %}
            <a href="{{exp.url}}">{{exp.name}}</a>
            {% else %}
            <a href="{{exp|url}}">{{exp.name}}</a>
            {% endif %}
          </td>
          <td>{{exp.description}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </section>

  <section>
    <h3>Others</h3>
    <table style="width: 100%">
      <thead>
        <tr>
          <th>Link</th>
          <th>Tech</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for o in this.other.blocks %}
        <tr>
          <td><a href="{{o.url}}">{{ o.title }}</a></td>
          <td>{{ o.technology }}</td>
          <td class="nopadding">{{ o.body }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <h2>Games</h2>
  {{ this.games }}
{% endblock %}
