@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Montserrat:wght@600&display=swap');

body {
    font-size: 12pt;
    max-width: 80ex;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 1.6;
}
a {
    color: #1a79c6;
}

a:hover {
    color: #33bbdf;
    text-decoration: underline;
}

.cv {
    font-family: 'Crimson Text', 'Georgia', serif;
    font-size: 13pt;
    line-height: 1.5;
    margin: 1rem auto;
}
.cv header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}
.cv header .name {
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    /* letter-spacing: .1rem; */
}
.experience {
    margin-bottom: 1rem;
}
.experience__header {
    display: flex;
    justify-content: space-between;
}
.experience__jobtitle, .experience__dates {
    font-size: 14pt;
}
ul {
    margin: 0;
    padding-left: 1rem;
}

.cv section {
    display: flex;
}

.cv section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    flex-shrink: 0;
    flex-basis: 7em;
    border-right: 1px solid black;
    margin: 0;
    padding-top: .4rem;
    padding-right: 1rem;
    text-transform: uppercase;
    text-align: right;
}

.cv h3 {
    font-weight: normal;
    font-size: 14pt;
    padding: 0;
    margin: 0;
}
.cv h3 + p {
    margin-top: 0;
}

.cv .section-content {
    padding-left: 1rem;
}

.cv .section-content > p:first-child {
    margin-top: 0;
}
.cv em {
    line-height: 0.5;
}

@media print {
    body {
        max-width: auto;
    }
    .cv {
        font-size: 10pt;
        padding: 2rem 2rem 2rem 0rem;
    }
    .experience__jobtitle, .experience__dates, .cv h3 {
        font-size: 12pt;
    }
    .cv section h2 {
        font-size: 8pt;
    }
    .cv header .name {
        font-size: 16pt;
    }
    .noprint {
        display: none;
    }
    a {
        color: black;
        text-decoration: none;
    }
}
